@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap');

* {
  margin: 0;
  font-family: 'Inter';
  color: #333;
  box-sizing: border-box;
}

.App-bio {
  height: 100vh;
  width: 100vw;
}

.navbar-bio {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: auto;
  margin: 0 auto;
  border-bottom: 1px solid black;
}

.navbar-bio h1 {
  color: black;
}

.navbar-bio .profile-img-bio {
  margin-left: auto;
}

.navbar-bio img {
  margin-left: auto;
  text-decoration: none;
  height: 25px;
  width: 25px;
  border-radius: 100%;
  border: 1px solid black;
}

.navbar-bio img:hover {
  color: blue;
  cursor: pointer;
}

.content-bio {
  max-width: auto;
  margin-top: 20px;
  margin-left: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 190px;
  width: 700px;
}

.biobox-bio{
  margin-left: 20px;
  padding: 20px;
  height: 220px;
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.biobox-bio textarea{
  border: 2px solid gainsboro;
  border-radius: 5px;
  height: 140px;
  width: 450px;
  &:focus{
    outline: none;
  }
}

.navbar-bottom-bio {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: auto;
  border-top: 1px solid black;
  background-color: white;
  position: absolute;
  bottom: 0px;
  width: 100vw;
}

.navbar-bottom-bio .add-bio {
  background-color: blue;
  border: none;
  color: white;
  padding: 9px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
}

.navbar-bottom-bio .back-bio {
  border: none;
  padding: 9px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
}

.about-you-bio{
  position: absolute;
  right: 40px;
  top: 90px;
  height: fit-content;
  width: 300px;
  padding: 20px;
  flex-direction: column;
  display: flex;
  align-items: center;
  border: 1px solid gainsboro;
  background-color: white;
  border-radius: 20px;

}

.about-you-bio img{
  height: 100px;
  width: 100px;
  border-radius: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
}

.rating-bio{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 180px;
}

.txt-bio{
  margin-top: 5px;
  padding: 10px;
  font-size: 13px;
}

.txt-bio .list-bio{
  font-size: 13px;
  padding-top: 5px;
}

.txt-bio .list-bio ul{
  font-size: 13px;
  padding-left: 15px;
}

.txt-bio .list-bio li{
  padding-top: 5px;
  padding-right: 15px;
}

.icon-bio{
  font-size: larger;
}

.online-outer-bio{
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-color: white;
  position: absolute;
  top: 30px;
  left: 105px;
}

.online-bio{
  height: 13px;
  width: 13px;
  border-radius: 100%;
  background-color: rgb(19, 224, 19);
  display: flex;
  align-items: center;
  position: absolute;
  top: 4px;
  left: 4px;

}